// Place all the styles related to the expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:http://sass-lang.com/
table.expenses {
    width:100%;
    border:.2em solid #CDCDCD;
    tr.odd {background-color:#cdcfcf;}
    tr.even {background-color:#d3f4ed;}
    tr:first-child {background-color:#969696;}
    td, th {padding:.5em;color:#000;}
    th {font-weight:bold;text-align:left;}
    a {color:#000;}
    th a{text-decoration:underline;}
}
.sub-container {
    width:90%;
    max-width:600px;
    min-width:320px;
    table{border:1px solid #000;width:100%;}
    table td{padding:10px 15px;}
    table td:first-child{font-weight:bold;}
}